# Streamlit for app interface
streamlit==1.27.0

# Pandas & Plotly for charts & data
pandas==2.1.0
plotly==5.17.0

# PyTorch for running Hugging Face AI models
torch==2.3.1

# Hugging Face Transformers for AI Doctor
transformers==4.44.0
